$topnav-background-color: rgb(40, 75, 150);
:host {
    display: block;
}
.front-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    //background: $topnav-background-color;
    text-align: center;
    color: #fff;
    // padding: 3em;
    padding: 0;
    .col-lg-4 {
        padding: 0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }
    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        color: #fff;
        border-radius: 0;
    }
    .input-underline:focus {
        border-bottom: 2px solid #fff;
        box-shadow: none;
    }
    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color: rgba(255, 255, 255, 0.8);
        background: $topnav-background-color;
        border: 2px solid rgba(255, 255, 255, 0.8);
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }
    .rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(255, 255, 255, 1);
        outline: none;
    }

    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;
        small {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .form-group {
        padding: 8px 0;
        input::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.6) !important;
        }
    }
    .form-content {
        padding: 40px 0;
    }
    .user-avatar {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #fff;
    }
    form,input, mat-form-field,button{
        font-family:light;
      }
      mat-card{
        width: 240px;
        height:400px;
        font-family:light;
        color:black;
        background-color:rgba(255, 255, 255, 0.342);
        border-radius:10px;
      }
}

.button {
    background-color:rgba(255, 255, 255, 0.6) ;/* Orange */
    border: none;
    color: midnightblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  .butn:hover {
    font-size: 20px;
    color:dodgerblue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
