<!-- <p>welcome-page works!</p> -->
<div class="front-screen" [@routerTransition]>
    
    <div fxLayout="column" fxFlexFill fxLayoutAlign="center center" style="background-image:url('../../../assets/images/welcomeBG.jpg');
  height: 100%;
  width:100%;
  overflow-y: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">
  
  
  
         <div class="row justify-content-md-center">
            <div class="col-md-2">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <!-- <h1 style="color:#ed5f07; text-align:center">PIVOT</h1>        -->
                <!-- <mat-card> -->
  
                <!-- <img src="assets/images/logo.png" width="150px" class="user-avatar" /> -->
                 <!-- <h1><strong>PIVOT.</strong></h1> -->
                
                
                 
                    
            
                 
                  <button class="button butn" style="width: 220px;background-image: linear-gradient(azure,linen);" routerLink="/launch" >Create Workspace</button>
                   
            
                
            
        <!-- </div> -->
    <!-- </mat-card> -->
        </div>
    </div>
    <router-outlet></router-outlet>