.header {
//     padding: 00px;
//    display:inline;
   background-image: linear-gradient(60deg, white, white); 

 }

 .bd {
	background-color: #e6e6ff;
	font-family: 'Muli', sans-serif;
	display: flex;
    overflow: hidden;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}
.button {
	background-color: #0c0f91; /* Orange */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
  }
  
  .butn:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }